html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

#map {
        height: 100%;
      }

.mapbox {
    width: 500px;
    height: 600px;
    border: 2px solid gray;
}





